<h1>Feed Page: </h1>
<h2> Welcome, <%= current_user.username %> </h2>


<%# <h2><a href="/posts/new"> New Post </a><br></h2> %>
<%# <a href="/myposts "> My Posts </a><br> %>

<h2> <form action="/posts/new">
    <input type="submit" value="New Post" />
</form>
</h2>

<% @posts.each do |p| %>
    <h3>Skater: <%= p.skater.username %> </h3>
 

    Post Id: <%= p.id %><br>
    Location: <%= p.skater_id %><br>
    Trick to Learn: <%= p.trick_to_learn %> <br>
    Description: <%= p.description %><br>
    <% if !p.link.blank? %> Link: <img src= "<%= p.link %>" height ="250" width="250"><br> <% end %>
    Created: <%= p.created_at%><br>
    Updated: <%= p.updated_at%><br>
    
    <% if logged_in? %>
    <a href="/posts/<%= p.id %>/edit">Edit</a> 
    
    <% end %>

    </p>
<% end %>

