<h1>Feed Page: </h1>
<h2> Welcome, <%= current_user.username %> </h2>


<%# <h2><a href="/posts/new"> New Post </a><br></h2> %>
<%# <a href="/myposts "> My Posts </a><br> %>

<h2> <form action="/posts/new">
    <input type="submit" value="New Post" />
</form>
</h2>

<% @posts.each do |p| %>
    <h3><%= p.skater.username %> </h3>
 

    Location: <pre> <%= p.skater.location %></pre> <br>
    Trick to Learn: <pre> <%= p.trick_to_learn %></pre> <br>
    Description: <pre> <%= p.description %></pre><br>
    Accomplished: <pre> <%= p.accomplished %> </pre>
    <% if !p.link.blank? %> <img src= "<%= p.link %>" class="rounded-corners" height ="250" width="250"><br> <% end %>
    Created: <pre> <%= p.created_at%></pre> <br>
    Updated:<pre> <%= p.updated_at%></pre> <br>
    
    <% if p.skater == current_user %>
    <a href="/posts/<%= p.id %>/edit">Edit</a> 
    
    <% end %>

    </p>
<% end %>

