
<h1> My Page </h1>


<% @posts.each do |p| %>
    <% if p.skater == current_user %>
        Trick: <pre> <%= p.trick_to_learn %></pre><br>
        Description: <pre> <%= p.description %></pre><br>
    <% if !p.link.blank? %> Link: <img src= "<%= p.link %>" class="rounded-corners" height ="250" width="250"><br> <% end %>
        Created: <pre> <%= p.created_at%></pre><br>
        Updated: <pre> <%= p.updated_at%></pre><br>
    <% end %>
    
    <% if p.skater == current_user %>
    <a href="/posts/<%= p.id %>/edit">Edit</a> 
    
    <% end %>

    </p>
<% end %>