Trick: <%= @post.trick_to_learn %><br>
Description: <%= @post.description %><br>
Accomplished: <%= @post.accomplished %> <br>
<% if !@post.link.blank? %>
<% binding.pry %>
    Link: <a href="www.google.com"></a> 
<% end %>

<br><a href="/posts/<%= @post.id %>/edit">Edit Post</a>

<form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Post">
</form>

<br>

<%# <a href="/posts">Back To Feed</a> %>